include loader
script.
  dexter = {};
  mixins = {};
  dexter.applicationFiles = [];
  dexter.routes = !{JSON.stringify(routes)};

script(src='/js/ender/ender.js')

script.
  dexter.applicationFiles.push.apply(dexter.applicationFiles, !{JSON.stringify(dependencyTree)})
  $script.order(dexter.applicationFiles, 'application', function () {
    $(document).ready(function () {
      require('client/app').run()
    })
  })
