include loader
script.
  wiggin = {};
  mixins = {};
  wiggin.applicationFiles = [];
  wiggin.routes = !{JSON.stringify(routes)};

script(src='/js/ender/ender.js')

script.
  wiggin.applicationFiles.push.apply(wiggin.applicationFiles, !{JSON.stringify(dependencyTree)})
  $script.order(wiggin.applicationFiles, 'application', function () {
    $(document).ready(function () {
      require('client/app').run()
    })
  })
